html {
  background-image: url(../assets/images/double-bubble-outline.png);
  user-select: none;
}

.highlight {
  box-shadow: none;
  padding-top: 2px;
  line-height: 1.5;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  background-image: linear-gradient(to right, rgba(255, 191, 0, 0.65) 70%, rgba(255, 191, 0, 0.65) 0px) !important;
  background-size: 4px 13px !important;
  background-position: 0px 98%;
  background-repeat: repeat-x;
  font-weight: 800;
}

.social-container {
  bottom: 0;
  position: absolute;
  left: 20px;
}

.social {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 30px;
}

.social:hover {
  cursor: pointer;
}

.social-container {
  margin-top: 50px;
}

.title {
  margin-bottom: 30px;
}

.sub-container {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 60px;
}

a {
  color: black;
  text-decoration: underline;
}
.section {
  text-align: center;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
