html {
    background-color: #232136;
    user-select: none;
}

.social {
    margin-left: 15px;
    margin-right: 60px;
    font-size: 60px;
    color: #9ccfd8;
}

.social:hover {
    cursor: pointer;
    color: #ffffff;
}

.link {
    text-decoration: underline;
    color: #ea9a97;
}

.link:hover {
    color: #eb6f92;
}

.decorator {
    font-size: 16px;
    margin: 0 16px;
    vertical-align: middle;
    color: #9ccfd8;
}

.title {
    font-size: 120px;
    color: #f6c177;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Rubik Mono One", sans-serif;
}

.subtitle {
    font-size: 30px;
    color: #ea9a97;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-family: "Rubik Mono One", sans-serif;
}

.sub-container {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    margin-top: 60px;
}

a {
    color: black;
    text-decoration: underline;
}

.section {
    text-align: center;
}

.social-section {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .social {
        margin-right: 30px;
        font-size: 30px;
    }

    .decorator {
        font-size: 10px;
        margin: 0 10px;
    }

    .title {
        font-size: 60px;
        margin-bottom: 60px !important;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 0;
    }

    .decorator {
      margin: 10px 0;
    }

    .decorator, .mobile {
      display: block;
    }

    .mobile-right {
      text-align: right;
    }

    .mobile-left {
      text-align: left;
    }
}
