/*font faces*/
@font-face {
  font-family: Phenomena;
  src: url(../assets/fonts/Phenomena-Light.otf);
  }

@font-face {
  font-family: Nickainley;
  src: url(../assets/fonts/Nickainley-Normal.otf);
  }

@font-face {
  font-family: TESLA;
  src: url(../assets/fonts/TESLA.ttf);
}

.navbar-brand {
  color: white;
}

.section {
  max-width: 100%;
  /*height: 100vh;*/
  overflow: hidden;
  padding-top: 5%;
  text-align: center;
  color: #E80C2D;
}

.about {
  text-align: center;
  padding: 10px;
}

.navbar-nav a {
  width: 100%;
	margin-left: 5px;
}

.navbar-nav li a {
  color:white;
  font-size: 25px;
}

.navbar-nav li a:hover {
  color: #E80C2D;
}

.bottom {
  padding: 80px;
  height: 200px;
  position: relative;
  width: 100;
  bottom: 0;
}


.bottom span {
  margin-bottom: 0;
}

.logo {
  font-family: 'TESLA';
  text-align: left;
  font-size: 60px;
  width: 10%;
  margin-left: 1%;
}

#logo:hover {
  color:#FF6455;
}

* {
  padding: 0;
  margin: 0;
}

.paragraph {
  font-size: 30px;
  font-family: 'Phenomena';
}

body {
  font-size: 100%;
  font-family: 'Phenomena';
}

.main {
  color: white;
  background-color: #06B2A2;
  height: 100vh;
}

.primary-text {
  font-family: 'Phenomena';
  font-size: 80px;
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -15px;
  color: white;
  text-align: center;

  /*margin-bottom: -15px;*/
}

#name {
  font-family: 'Nickainley';
  font-size: 150px;
}


.colorful {
	background:
		-webkit-linear-gradient(45deg, hsla(9, 100%, 33%, 1) 0%, hsla(9, 100%, 33%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(338, 97%, 44%, 1) 10%, hsla(338, 97%, 44%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(359, 95%, 42%, 1) 10%, hsla(359, 95%, 42%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(338, 92%, 44%, 1) 100%, hsla(338, 92%, 44%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(9, 100%, 33%, 1) 0%, hsla(9, 100%, 33%, 0) 70%),
		linear-gradient(135deg, hsla(338, 97%, 44%, 1) 10%, hsla(338, 97%, 44%, 0) 80%),
		linear-gradient(225deg, hsla(359, 95%, 42%, 1) 10%, hsla(359, 95%, 42%, 0) 80%),
		linear-gradient(315deg, hsla(338, 92%, 44%, 1) 100%, hsla(338, 92%, 44%, 0) 70%);
	}


a {
  padding-top: 60px;
}

a span {
	position: absolute;
  left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
}

a span::before {
	position: absolute;
	top: 10px;
  left: 50%;
	content: '';
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}

/*animations*/
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.row {
  background-color: white;
}
/*the map*/
#map {
  height: 450px;
  width: 550px;
}

#map-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* to skillset */
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  color: white;
  margin: 0;
  padding: 0;
}

.panel {
  filter: sepia(50);
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);

  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
}
*, *:before, *:after {
  box-sizing: inherit;
}

.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);

}

.panel.open-active > *:last-child {
  transform: translateY(0);
}
.panel.open-active {
  filter: sepia(0);
}

.panel p {
  font-family: 'Phenomena';
  text-shadow:0 0 2px rgba(0, 0, 0, 0.72), 0 0 4px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 2em;
}

.panel.open {
  font-size:40px;
  flex: 5;
}

.panel-front { background-image:url(../assets/images/front.png); }

.panel-back { background-image:url(../assets/images/back.png); }

.panel-db { background-image:url(../assets/images/db.png); }


/*test*/
footer {
  font-family: 'Phenomena';
  /*min-height: 50vh;*/
  background: white;
  font-size: 25px;
}
